.DS_Store
**/__pycache__/

.idea/
/CoreService3/
/MainService/.idea/
/MainService/__pycache__/
/MainService/leginon/__pycache__/
/MainService/lib/__pycache__/
/MainService/pyami/__pycache__/
/MainService/sinedon/__pycache__/
/MainService/venv/

/MagellonApp/node_modules/
/MagellonApp/.angular/
/MagellonApp/.idea/

/CoreService/static/locales/

/magellon-react-app/node_modules/
/magellon-react-app/dist/
/magellon-react-app/test-results/
/magellon-react-app/playwright-report/
/magellon-react-app/playwright/.cache/


/WebApp/node_modules/
/WebApp/.angular/
/WebApp/.idea/
/WebApp/dist/

/plugins/magellon_ctf_plugin/.idea/
/plugins/magellon_ctf_plugin/venv/
/plugins/magellon_ctf_plugin/support/mysql/data/
/plugins/magellon_ctf_plugin/support/grafana/data/
/plugins/magellon_ctf_plugin/support/consul/data/
/plugins/magellon_ctf_plugin/outputs/

/plugins/magellon_motioncor_plugin/.idea/
/plugins/magellon_motioncor_plugin/venv/
/plugins/magellon_motioncor_plugin/support/mysql/data/
/plugins/magellon_motioncor_plugin/support/grafana/data/
/plugins/magellon_motioncor_plugin/support/consul/data/
CoreService/22feb18a_b_00047gr_00036sq_v01_00006hl_00014ex-e-DW.mrc
CoreService/filtered.mrc
Sandbox/massest/calibration.png
