.DS_Store
**/__pycache__/

.idea/
/CoreService3/
/MainService/.idea/
/MainService/__pycache__/
/MainService/leginon/__pycache__/
/MainService/lib/__pycache__/
/MainService/pyami/__pycache__/
/MainService/sinedon/__pycache__/
/MainService/venv/

/MagellonApp/node_modules/
/MagellonApp/.angular/
/MagellonApp/.idea/



/magellon-react-app/node_modules/
/magellon-react-app/dist/
/magellon-react-app/test-results/
/magellon-react-app/playwright-report/
/magellon-react-app/playwright/.cache/


/WebApp/node_modules/
/WebApp/.angular/
/WebApp/.idea/
/WebApp/dist/