fastapi
uvicorn
pydantic
sqlalchemy
sqlalchemy_utils
# psycopg2
psycopg2-binary
PyMySQL==1.0.3
mrcfile==1.4.3
numpy==1.24.2
matplotlib==3.7.1
scipy==1.10.1
Pillow==9.5.0
# cupy-cuda12x==12.0.0
jinja2
python-multipart
boto3
plotly
dependency-injector
python-consul
pylint
# prometheus-client
prometheus-fastapi-instrumentator
slackclient