fastapi
uvicorn
pydantic>=2.6.1
sqlalchemy>=2.0.25
sqlalchemy_utils==0.41.1
# psycopg2
psycopg2-binary
PyMySQL==1.0.3
mrcfile==1.5.0
numpy==1.26.4
matplotlib==3.8.2
scipy
Pillow==10.2.0
# cupy-cuda12x==12.0.0
jinja2
python-multipart
boto3==1.34.35
plotly
dependency-injector
python-consul
pylint==3.0.2
# prometheus-client
prometheus-fastapi-instrumentator
slackclient
apache-airflow-client==2.7.2
# graphene == 3.2.2
# graphene-sqlalchemy==2.3.0
# bcrypt
# starlette-graphene3

#sqlacodegen
#mysqlclient

strawberry-graphql[fastapi]==0.211.1
# bump-pydantic
rich==13.7.0
# textual
pyfiglet==1.0.2
diagrams
pyyaml==6.0.1


fabric