---
- name: Installing Magellon with all dependencies
  hosts: target
  become: yes
  vars:
    target_ip: "${data.server_ip }"
    target_username: "${ data.server_username }"
    target_password: "${ data.server_password }"

    target_port: "${ data.server_port }"
    target_webapp_port: "${ data.webapp_port }"
    create_core_server: "${ data.create_core_server }"
    create_webapp_server: "${ data.create_webapp_server }"
    create_mysql_server: "${ data.create_mysql_server }"
    install_mysql: "${ data.install_mysql }"
    mysql_server_ip: "${ data.mysql_server_ip }"
    mysql_server_username: "${ data.mysql_server_username }"
    mysql_server_password: "${ data.mysql_server_password }"
    mysql_server_db_username: "${ data.mysql_server_db_username }"
    mysql_server_db_password: "${ data.mysql_server_db_password }"
    mysql_server_db_dbname: "${ data.mysql_server_db_dbname }"

    mysql_new_root_password: magell0n#0367
    mysql_database: magellon01

    mysql_magellon_user: magellon
    mysql_magellon_password: magell0n#0567
    sql_source_file_path: ../assets/sql/magellon01db.sql
    sql_target_file_path: /projects/sql/magellon01db.sql


    project_path: /projects/CoreService
    git_repository: https://github.com/sstagg/Magellon.git
    network_name: magellon

    core_service_project_directory: /projects/CoreService
    core_service_dockerfile_path: /projects/infrastructure/docker/Dockerfile
    core_service_image_name: khoshbin/magellon-core-service
    core_service_container_name: magellon-core-service01
    core_service_port_number: 8181
    core_service_base_dir: /mnt/base_dir
    core_service_api_url: http://5.161.91.240:8181/web/

    webapp_project_directory: /projects/WebApp
    webapp_dockerfile_path: /projects/infrastructure/docker/angular/Dockerfile
    webapp_image_name: khoshbin/magellon-angular-app
    webapp_container_name: magellon-angular-webapp01
    webapp_port_number: 8080

  tasks:

    - name: Scan host key
      command: ssh-keyscan -H 5.161.91.240
      register: host_key

    - name: Add host key to known_hosts
      lineinfile:
        dest: /home/behdad/.ssh/known_hosts
        line: "{{ host_key.stdout }}"
        create: yes
        mode: "0600"

    - name: Run apt update
      become: true
      apt:
        update_cache: yes

    - name: Install Python3 and pip and pymysql
      apt:
        name:
          - python3
          - python3-pip
          - python3-pymysql
        state: present


    - name: Install MariaDB Server
      apt:
        name:
          - mariadb-server
          - mariadb-client
          - python3-pip
          - curl
        state: present

