./magellon_sdk-1.1.0-py3-none-any.whl[rabbitmq,nats,logging,config]

fastapi
uvicorn
pydantic
rich
pyyaml

python-json-logger

prometheus_client
python-dotenv

pika==1.3.2

sqlalchemy
sqlalchemy_utils
PyMySQL==1.1.0

mrcfile==1.5.0
numpy==1.26.4
scipy==1.12.0
Pillow==10.2.0
matplotlib==3.9.2
tifffile==2024.7.24
opencv-python-headless==4.10.0.84

prometheus-fastapi-instrumentator

debugpy
