<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="h5 border-0" style="margin: 0.7em;">
                <div class="text-left" (click)="showUnstack(0)" style="cursor: pointer">
                    <i class='fa fa-angle-left'></i> &nbsp;
                    <span>Back to images</span>
                </div>
            </div>
            <div class="card border-0 stack-selection">
                <div *ngFor="let imgExt of imageModelArr; let i = index">
                    <div class="card-body text-center stack-scroll" *ngIf="!unstackDisplay[i]">
                        <div *ngIf="imgExt.images?.length > 2;else stack_img_3">
                            <img [src]="imgExt.images[2].url" class="img1"
                                (click)="getStackImages(imgExt.ext); showUnstack(i)" style="cursor: pointer" />
                        </div>
                        <ng-template #stack_img_3>
                            <img [src]="imgExt.images[0].url" class="img1"
                                (click)="getStackImages(imgExt.ext); showUnstack(i)" style="cursor: pointer" />
                        </ng-template>
                        <div *ngIf="imgExt.images?.length > 1;else stack_img_2">
                            <img [src]="imgExt.images[1].url" class="img2"
                                (click)="getStackImages(imgExt.ext); showUnstack(i)" style="cursor: pointer" />
                        </div>
                        <ng-template #stack_img_2>
                            <img [src]="imgExt.images[0].url" class="img2"
                                (click)="getStackImages(imgExt.ext); showUnstack(i)" style="cursor: pointer" />
                        </ng-template>
                        <div>
                            <img [src]="imgExt.images[0].url" class="img3"
                                (click)="getStackImages(imgExt.ext); showUnstack(i)" style="cursor: pointer" />
                        </div>
                    </div>
                    <div *ngIf="unstackDisplay[i] && imageStackModelArr?.length" class="unstack">
                        <div *ngFor="let imgModel of imageStackModelArr[0].images; let j = index" class="card border-0"
                            id="{{ 'img' + j }}">
                            <div class="card-body text-center">
                                <img [src]="imgModel.url" class="card-img-top" alt="Card image cap"
                                    (click)="passUnstackImgIndex(j)" style="cursor: pointer" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="img-center">
                <img [src]="imageUrl" class="img-thumbnail" />
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>