Screen {
    layout: grid;
    grid-size: 5;
    grid-gutter: 1;
    /*border: solid yellow;*/
}
TabbedContent {
    /*border: solid green;*/
    column-span: 4;

}

TabPane {
    /*border: solid blue;*/
    /*layout: grid;*/
    /*grid-size: 12 12;*/
}
Grid {
    margin: 0;
    /*border: round white;*/
    grid-size: 12 12;
    min-height: 20vw;
}
Grid>Label {
    margin: 1 2;
    padding:1;
    column-span: 2;
    row-span: 1;
}
Grid>Input {
    /*border: round ;*/
    margin: 1 2;
    column-span: 4;
    row-span: 1;
}
#text_logger {
    border: round white;
    min-height: 10vw;
}
#mysql_server_info {
    visibility: hidden;
    min-height: 4vw;
}

Button {
    width: 25%;
}