<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="h5 border-0" style="margin: 0.7em;">
                <div class="text-left" (click)="showUnstack(0)" style="cursor: pointer">
                    <i class='fa fa-angle-left'></i> &nbsp;
                    <span>Back to images</span>
                </div>
            </div>
            <div class="card border-0 stack-selection">
                <div *ngFor="let imgExt of imageModelArr; let i = index">
                    <div class="card-body text-center stack-scroll" *ngIf="!unstackDisplay[i]">
                        <div *ngIf="imgExt.images?.length > 2;else stack_img_3">
                            <img [src]="imgExt.images[2].url" class="img1"
                                (click)="getStackImages(imgExt.ext); showUnstack(i)" style="cursor: pointer" />
                        </div>
                        <ng-template #stack_img_3>
                            <img [src]="imgExt.images[0].url" class="img1"
                                (click)="getStackImages(imgExt.ext); showUnstack(i)" style="cursor: pointer" />
                        </ng-template>
                        <div *ngIf="imgExt.images?.length > 1;else stack_img_2">
                            <img [src]="imgExt.images[1].url" class="img2"
                                (click)="getStackImages(imgExt.ext); showUnstack(i)" style="cursor: pointer" />
                        </div>
                        <ng-template #stack_img_2>
                            <img [src]="imgExt.images[0].url" class="img2"
                                (click)="getStackImages(imgExt.ext); showUnstack(i)" style="cursor: pointer" />
                        </ng-template>
                        <div>
                            <img [src]="imgExt.images[0].url" class="img3"
                                (click)="getStackImages(imgExt.ext); showUnstack(i)" style="cursor: pointer" />
                        </div>
                    </div>
                    <div *ngIf="unstackDisplay[i] && imageStackModelArr?.length" class="unstack">
                        <div *ngFor="let imgModel of imageStackModelArr[0].images; let j = index" class="card border-0"
                            id="{{ 'img' + j }}">
                            <div class="card-body text-center">
                                <img [src]="imgModel.url" class="card-img-top" alt="Card image cap"
                                    (click)="passUnstackImgIndex(j)" style="cursor: pointer" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="img-center" style="margin-top: 0;">
                <label class="h5 border-0" style="align-items: center; font-weight: normal !important;margin-top: 5%;">
                    &nbsp; <span><b>mag:</b></span>
                    {{imageSpec.mag}}
                    &nbsp; <span><b>defocus:</b></span>
                    {{imageSpec.defocus}} μm
                    &nbsp; <span><b>pixelsize:</b></span>
                    {{imageSpec.pixelsize}} Å
                    &nbsp; <span><b>dose:</b></span>
                    {{imageSpec.dose}} <span *ngIf="imageSpec.dose != 'none'">e<sup>-</sup>/Å<sup>2</sup></span>
                    <br>
                    &nbsp; <span>{{imageSpec.filename}}</span>
                </label>
                <br>
                <label class="h5 border-0" style="align-items: center; font-weight: normal !important;">&nbsp; Particle
                    pick &nbsp;</label>
                <select class="h5" [disabled]=pickTypeEnable style="align-items: center; font-weight: normal !important;"
                    (change)="pickDropdownUpdate($event);">
                    <option value="default">Select</option>
                    <option *ngFor="let pickType of particlePickJobType | keyvalue" [value]="pickType.key">
                        {{pickType.value}}
                    </option>
                </select>
                &nbsp;
                <button type="button" title="Save pick(s)" (click)="savePicks()"><i class="fa fa-check fa-sm" aria-hidden="true"></i></button>
                &nbsp;
                <button type="button" title="Reset pick(s)" (click)="resetPicks()"><i class="fa fa-times fa-sm" aria-hidden="true"></i></button>

                <div class="center-img-container">
                    <canvas id="canvas" *ngIf=!enableFFT width="760" height="760" (click)="getPosition($event)"
                        style="cursor:crosshair;"></canvas>
                    <img id="main_img" *ngIf=enableFFT [src]="fftImageUrl" class="img-thumbnail" />
                    <div *ngIf="!imageScaleInAngstrom" class="bottom-left">{{imageScale}} nm</div>
                    <div *ngIf="imageScaleInAngstrom" class="bottom-left">{{imageScale}} Å</div>
                    <hr class="bottom-left-scale" [style.width.px]="imageScalePixel" />
                </div>
            </div>
        </div>
        <div class="col-md-1 text-center">
            <label class="h5 border-0" style="margin: 0.7em;" for="flexSwitchCheckDefault">FFT</label>
            <div class="form-check form-switch">
                <input mdbCheckbox class="form-check-input" type="checkbox" [checked]="enableFFT"
                    (click)="getFFTImageOnToggle()" id="flexSwitchCheckDefault" />
            </div>
        </div>
    </div>
</div>