  .col-md-3 {
    background: rgb(240, 239, 239);
  }

  .col-md-1 {
    background: rgb(240, 239, 239);
  }

  .stack-scroll {
    position: relative;
    height: 125%;
    max-height: 922px;
  }

  .card {
    background: rgb(240, 239, 239);
  }

  .card-body {
    height: 286px !important;
  }

  .card-img-top {
    border-top-right-radius: 0% !important;
    border-top-left-radius: 0% !important;
  }

  .img-center {
    padding: 5%;
    margin-top: 8%;
    margin-bottom: 7%;
  }

  .img-thumbnail {
    border: 0px;
  }

  .stack-selection {
    position: relative;
    max-height: 922px;
    height: 100%;
    overflow: auto !important;
  }

  .stack-selection img {
    position: absolute;
    width: 77%;
    height: auto;
    z-index: 10;
  }

  .img1 {
    left: 1rem;
    top: 1rem;
  }

  .img2 {
    left: 2rem;
    top: 2rem;
  }

  .img3 {
    left: 3rem;
    top: 3rem;
  }

  .stack-selection img:hover {
    z-index: 20;
  }

  .unstack img {
    position: relative;
    /* margin: 1em; */
    padding: 0.3em;
  }

  .unstack .card-body {
    padding: 0;
    height: 215px !important;
  }

  .unstack .card-body .child {
    padding: auto;
  }

  /* Toggle switch */
  
  .form-check .form-check-input {
    float: none !important;
    font-size: 1.2em !important;
  }

  /* text over image */
  .center-img-container {
    position: relative;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 40px;
    left: 22px;
    font-size: 20px;
    text-align: center;
  }

  .bottom-left-scale {
    position: absolute;
    bottom: 18px;
    left: 22px;
    font-size: 20px;
    height: 0.2em;
    background-color: white;
  }