$borderRadius: 10px;
$thumbImageWidth: 98%;
$thumbImageHeight: 98%;
$thumbImageBorderColor: rgba(215, 215, 225, 1); // Adjust the alpha value as needed
$thumbImageHoveredBorderColor: rgb(137, 243, 8); // Adjust the alpha value as needed
$thumbImageSelectedBorderColor: rgb(225, 136, 7); // Adjust the alpha value as needed
$thumbImageHasChildrenBorderColor: rgb(89, 9, 236); // Adjust the alpha value as needed

.thumb-image {
  border-radius: $borderRadius;
  width: $thumbImageWidth;
  height: $thumbImageHeight;
  object-fit: cover;
  border: 3px solid $thumbImageBorderColor;
  transition: border-color 0.3s ease, transform 0.2s ease-in-out;
  aspect-ratio: 1/1; /* Force 1:1 aspect ratio */
  max-width: 100%;
}

.thumb-image:hover {
  border: 2px solid $thumbImageHoveredBorderColor;
  transform: scale(1.02);
  //box-shadow: 0 4px 5px $thumbImageHoveredBorderColor;
  //z-index: 1;
}

.thumb-image-selected{
  border: 4px solid $thumbImageSelectedBorderColor !important;
}

.thumb-image-has-children{
  border: 3px solid $thumbImageHasChildrenBorderColor;
}


.map-area {
  outline: 2px solid #e8e2e2; /* Set the border color and width */
  outline-offset: -2px; /* Adjust the spacing between the border and the area */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.map-area:hover {
  background-color: rgba(252, 245, 245, 0.1); /* Add a background color on hover */
}

/* Flat viewer specific styles */
.flat-viewer-container {
  .MuiImageListItem-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto !important;
    overflow: hidden;
  }

  .thumb-image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Creates a 1:1 aspect ratio */
    overflow: hidden;
  }

  .thumb-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}