# [User]
# user: myusername         # the user name (login) not the full name

[User]
fullname:

#[Project]
#default: Default Project

# Optional. Local drive letters can be mapped to fs on the database server.
#
# Example
#
# [Drive Mapping]
# Z: /database/filesystem

[Drive Mapping]

# password entered in GUI
#[Email]
#host: smtp.yourdomain.com
#user: user@yourdomain.com
#from: user@yourdomain.com
#to: user@yourdomain.com